.blog {
  padding: 2rem;
}
.blog h1 {
  font-size: 2rem;
}
.blog p {
  margin-top: 1rem;
}

.blogImage {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 10px ;
  position: relative;
  left: 35%;
  margin-top: 30px;
  margin-bottom: 30px;
}