.container {
  padding: 2rem;
  padding-left: 70px;
}

.topPicks {
  margin-bottom: 3rem;
}

.grid {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.loadingContainer {
  flex: 1;
  min-height: calc(100vh - 180px); /* Adjust based on your header + footer height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #444;
}
